In [47]:
import pandas as pd
import numpy as np

In [48]:
data=pd.read_csv('/Users/priyanka/Feature_selection/Students2_feature.csv')

In [49]:
data

    Hours  sHours  hoursplayed  income  distance  calories  Marks
0       0       6            6     146         9      2491     34
1       1       7            2     112         5      2303     36
2       1       6            1      84         7      2475     33
3       1       8            5     134         0      2282     39
4       1       8            5     104         8      2359     42
5       2       8            4      80         1      2354     45
6       2       6            3      93         0      2943     38
7       3       6            3      83         7      2119     45
8       3       7            6     139         1      2511     53
9       3       7            5     138        10      2666     46
10      3       8            5      98         2      2934     56
11      4       8            1      90         0      2838     59
12      4       7            3     140         7      2102     55
13      4       7            6     144         3      2560     56
14      5       8            2     144         5      2068     72
15      5       6            2     119         6      2541     59
16      6       6            1     140         6      2690     62
17      6       7            1      85         3      2956     71
18      7       8            2     140         8      2239     78
19      7       8            6     107         0      2703     88
20      7       6            5      85         7      2603     61
21      7       6            3     109         0      2031     74
22      8       7            5     108         0      2885     71
23      8       8            1     150         8      2153     89
24      9       8            4     150         9      2384     82
25      9       5            5      84        10      2882     67
26      9       8            5     127         5      2271     89
27     10       8            6      95         6      2264     81
28     10       8            5      72         5      2522     82
29     11       7            3      89         3      2279     79

In [50]:
x=data.drop(['Marks'],axis=1)
y=data['Marks']

In [51]:
x

    Hours  sHours  hoursplayed  income  distance  calories
0       0       6            6     146         9      2491
1       1       7            2     112         5      2303
2       1       6            1      84         7      2475
3       1       8            5     134         0      2282
4       1       8            5     104         8      2359
5       2       8            4      80         1      2354
6       2       6            3      93         0      2943
7       3       6            3      83         7      2119
8       3       7            6     139         1      2511
9       3       7            5     138        10      2666
10      3       8            5      98         2      2934
11      4       8            1      90         0      2838
12      4       7            3     140         7      2102
13      4       7            6     144         3      2560
14      5       8            2     144         5      2068
15      5       6            2     119         6      2541
16      6       6            1     140         6      2690
17      6       7            1      85         3      2956
18      7       8            2     140         8      2239
19      7       8            6     107         0      2703
20      7       6            5      85         7      2603
21      7       6            3     109         0      2031
22      8       7            5     108         0      2885
23      8       8            1     150         8      2153
24      9       8            4     150         9      2384
25      9       5            5      84        10      2882
26      9       8            5     127         5      2271
27     10       8            6      95         6      2264
28     10       8            5      72         5      2522
29     11       7            3      89         3      2279

In [52]:
y

0     34
1     36
2     33
3     39
4     42
5     45
6     38
7     45
8     53
9     46
10    56
11    59
12    55
13    56
14    72
15    59
16    62
17    71
18    78
19    88
20    61
21    74
22    71
23    89
24    82
25    67
26    89
27    81
28    82
29    79
Name: Marks, dtype: int64

In [53]:
X=data.iloc[:,:-1]
Y=data.iloc[:,-1]

In [54]:
X

    Hours  sHours  hoursplayed  income  distance  calories
0       0       6            6     146         9      2491
1       1       7            2     112         5      2303
2       1       6            1      84         7      2475
3       1       8            5     134         0      2282
4       1       8            5     104         8      2359
5       2       8            4      80         1      2354
6       2       6            3      93         0      2943
7       3       6            3      83         7      2119
8       3       7            6     139         1      2511
9       3       7            5     138        10      2666
10      3       8            5      98         2      2934
11      4       8            1      90         0      2838
12      4       7            3     140         7      2102
13      4       7            6     144         3      2560
14      5       8            2     144         5      2068
15      5       6            2     119         6      2541
16      6       6            1     140         6      2690
17      6       7            1      85         3      2956
18      7       8            2     140         8      2239
19      7       8            6     107         0      2703
20      7       6            5      85         7      2603
21      7       6            3     109         0      2031
22      8       7            5     108         0      2885
23      8       8            1     150         8      2153
24      9       8            4     150         9      2384
25      9       5            5      84        10      2882
26      9       8            5     127         5      2271
27     10       8            6      95         6      2264
28     10       8            5      72         5      2522
29     11       7            3      89         3      2279

In [55]:
Y

0     34
1     36
2     33
3     39
4     42
5     45
6     38
7     45
8     53
9     46
10    56
11    59
12    55
13    56
14    72
15    59
16    62
17    71
18    78
19    88
20    61
21    74
22    71
23    89
24    82
25    67
26    89
27    81
28    82
29    79
Name: Marks, dtype: int64

In [56]:
from sklearn.linear_model import LinearRegression

from sklearn.model_selection import train_test_split

lr=LinearRegression()
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.4,random_state=1234)

lr.fit(X_train,Y_train)
lr.score(X_test,Y_test)

0.8427485982415728

ypreds=lr.predict(X_test)

In [57]:
ypreds=lr.predict(X_test)
ypreds

array([37.4304, 56.848, 38.8547, 38.9757, 82.8695, 59.6763, 52.2997,
       81.1729, 67.7756, 63.7578, 82.1821, 86.6591])

In [58]:
from sklearn.metrics import mean_squared_error
import math
rmse=math.sqrt(mean_squared_error(Y_test,ypreds))
rmse

6.98220671535743

In [59]:
from sklearn.feature_selection import f_regression as fr
result=fr(x,y)
result

(array([141.906, 4.5702, 0.00144882, 0.159991, 0.00316607, 0.404209]),
 array([1.77038e-12, 0.0414028, 0.969907, 0.6922, 0.955528, 0.530086]))

In [60]:
# lets unpack the result values whichb is a tuple

In [61]:
f_score = result[0]
p_values = result[1]
np.set_printoptions(formatter={'float': '{:g}'.format})
f_score 
p_values

array([1.77038e-12, 0.0414028, 0.969907, 0.6922, 0.955528, 0.530086])

In [62]:
f_score

array([141.906, 4.5702, 0.00144882, 0.159991, 0.00316607, 0.404209])

In [63]:
# Print the table of Features, F-Score and P-values
columns = list(x.columns)

print (" ")
print (" ")
print (" ")

print ("    Features     ", "F-Score    ", "P-Values")
print ("    -----------  ---------    ---------")

for i in range(0, len(columns)):
    f1 = "%4.2f" % f_score[i]
    p1 = "%2.6f" % p_values[i]
    print("    ", columns[i].ljust(12), f1.rjust(8),"    ", p1.rjust(8))

    Features      F-Score     P-Values
    -----------  ---------    ---------
     Hours          141.91      0.000000
     sHours           4.57      0.041403
     hoursplayed      0.00      0.969907
     income           0.16      0.692200
     distance         0.00      0.955528
     calories         0.40      0.530086

In [64]:
columns = list(x.columns)  # Feature names

# Print table header
print("\n\n")  # Extra spacing for clarity
print(f"{'Features':<15} {'F-Score':>10} {'P-Value':>15}")
print("-" * 40)

# Print each feature with formatted values
for i in range(len(columns)):
    f1 = f"{f_score[i]:.2f}"  # Format F-Score with 2 decimals
    p1 = f"{p_values[i]:.6f}"  # Format P-Value with 6 decimals
    print(f"{columns[i]:<15} {f1:>10} {p1:>15}")

Features           F-Score         P-Value
----------------------------------------
Hours               141.91        0.000000
sHours                4.57        0.041403
hoursplayed           0.00        0.969907
income                0.16        0.692200
distance              0.00        0.955528
calories              0.40        0.530086

In [65]:
# Perform the Linear Regression with reduced features
X_train_n = X_train[['Hours', 'sHours']]
X_test_n = X_test[['Hours', 'sHours']]

lr1 = LinearRegression()
lr1.fit(X_train_n, Y_train)

y_predict_n = lr1.predict(X_test_n)

In [66]:
# Calculate the RMSE with reduced features
rmse_n = math.sqrt(mean_squared_error(Y_test, y_predict_n))

In [67]:
rmse_n

5.097217281081131

In [68]:
y_predict_n

array([45.7106, 56.0873, 46.5924, 41.404, 89.3196, 50.899, 46.5924,
       79.8247, 65.5823, 55.6464, 74.6363, 84.5721])

In [69]:
## Chi Squared

## Chi Squared

In [70]:
65

65

# Implement various transform methods with f_regression
## Implement SelectPercentile

In [110]:
from sklearn.feature_selection import SelectKBest,SelectPercentile,GenericUnivariateSelect,f_regression

percentiles=SelectPercentile(score_func=f_regression, percentile=50)
selectork=SelectKBest(score_func=f_regression,k=3)
gunivariate=GenericUnivariateSelect(score_func=f_regression,mode='k_best',param=3)

modelp=percentiles.fit_transform(X,Y)

modelk=selectork.fit_transform(X,Y)

modelg=gunivariate.fit_transform(X,Y)

In [81]:
modelk

array([[   0,    6, 2491],
       [   1,    7, 2303],
       [   1,    6, 2475],
       [   1,    8, 2282],
       [   1,    8, 2359],
       [   2,    8, 2354],
       [   2,    6, 2943],
       [   3,    6, 2119],
       [   3,    7, 2511],
       [   3,    7, 2666],
       [   3,    8, 2934],
       [   4,    8, 2838],
       [   4,    7, 2102],
       [   4,    7, 2560],
       [   5,    8, 2068],
       [   5,    6, 2541],
       [   6,    6, 2690],
       [   6,    7, 2956],
       [   7,    8, 2239],
       [   7,    8, 2703],
       [   7,    6, 2603],
       [   7,    6, 2031],
       [   8,    7, 2885],
       [   8,    8, 2153],
       [   9,    8, 2384],
       [   9,    5, 2882],
       [   9,    8, 2271],
       [  10,    8, 2264],
       [  10,    8, 2522],
       [  11,    7, 2279]])

In [86]:
f_score=modelk.scores_
p_values=modelk.pvalues_

AttributeError: 'numpy.ndarray' object has no attribute 'scores_'

In [88]:
f_score, p_values = f_regression(X, Y)

In [89]:
f_score, p_values

(array([141.906, 4.5702, 0.00144882, 0.159991, 0.00316607, 0.404209]),
 array([1.77038e-12, 0.0414028, 0.969907, 0.6922, 0.955528, 0.530086]))

In [93]:
modelk=selectork.fit(X,Y)
# Correct way to get scores and p-values
f_score = modelk.scores_
p_values = modelk.pvalues_

print(f_score)   # Correct way to access scores
print(p_values)

[141.906 4.5702 0.00144882 0.159991 0.00316607 0.404209]
[1.77038e-12 0.0414028 0.969907 0.6922 0.955528 0.530086]

In [94]:
columns = list(x.columns)  # Feature names

# Print table header
print("\n\n")  # Extra spacing for clarity
print(f"{'Features':<15} {'F-Score':>10} {'P-Value':>15}")
print("-" * 40)

# Print each feature with formatted values
for i in range(len(columns)):
    f1 = f"{f_score[i]:.2f}"  # Format F-Score with 2 decimals
    p1 = f"{p_values[i]:.6f}"  # Format P-Value with 6 decimals
    print(f"{columns[i]:<15} {f1:>10} {p1:>15}")

Features           F-Score         P-Value
----------------------------------------
Hours               141.91        0.000000
sHours                4.57        0.041403
hoursplayed           0.00        0.969907
income                0.16        0.692200
distance              0.00        0.955528
calories              0.40        0.530086

In [100]:
cols=selectork.get_support(indices=True)
selectedColumns=X.columns[cols]
selectedColumns

Index(['Hours', 'sHours', 'calories'], dtype='object')

modelp

In [102]:
modelp

array([[   0,    6, 2491],
       [   1,    7, 2303],
       [   1,    6, 2475],
       [   1,    8, 2282],
       [   1,    8, 2359],
       [   2,    8, 2354],
       [   2,    6, 2943],
       [   3,    6, 2119],
       [   3,    7, 2511],
       [   3,    7, 2666],
       [   3,    8, 2934],
       [   4,    8, 2838],
       [   4,    7, 2102],
       [   4,    7, 2560],
       [   5,    8, 2068],
       [   5,    6, 2541],
       [   6,    6, 2690],
       [   6,    7, 2956],
       [   7,    8, 2239],
       [   7,    8, 2703],
       [   7,    6, 2603],
       [   7,    6, 2031],
       [   8,    7, 2885],
       [   8,    8, 2153],
       [   9,    8, 2384],
       [   9,    5, 2882],
       [   9,    8, 2271],
       [  10,    8, 2264],
       [  10,    8, 2522],
       [  11,    7, 2279]])

In [113]:
cols=percentiles.get_support(indices=True)
selectedColumns=X.columns[cols]
selectedColumns

Index(['Hours', 'sHours', 'calories'], dtype='object')

In [114]:
cols=gunivariate.get_support(indices=True)
selectedColumns=X.columns[cols]
selectedColumns

Index(['Hours', 'sHours', 'calories'], dtype='object')